@import "../../scss/variables.scss";

.homepage {
  @include pageBackground();
  flex-direction: column;
  @include flexCenter();
  .mainhead {
    #main-text {
      text-align: center;
      margin: 2rem;
      font-size: 1.7em;
      color: $whiteColor;
      letter-spacing: 2px;
      span {
        color: $primaryColor;
      }
    }
    #color-dance-text {
      color: $whiteColor;
      font-size: 0.8em;
      margin-bottom: 2rem;
      letter-spacing: 5px;
      text-align: center;
      text-transform: uppercase;
      span {
        color: $primaryColor;
      }
    }
  }
}

/* Below  360px width */
@media (min-width: 331px) and (max-width: $smallDevices) {
  .homepage {
    .mainhead {
      #main-text {
        font-size: 1.4em;
      }
      #color-dance-text {
        font-size: 0.7em;
      }
    }
  }
}
/* iPhone SE & 5 */
@media (min-width: 300px) and (max-width: $iPhone5_se) {
  .homepage {
    .mainhead {
      #main-text {
        font-size: 1.3em;
      }
      #color-dance-text {
        font-size: 0.8em;
      }
    }
  }
}
/* Galaxy Fold Devices */
@media (min-width: 240px) and (max-width: $galaxyFold) {
  .homepage {
    .mainhead {
      #main-text {
        margin: 1.5rem;
        font-size: 1.2em;
      }
      #color-dance-text {
        margin: 1.5rem 0.5rem;
        font-size: 0.8em;
      }
    }
  }
}

/* iPad Devices */
@media (min-width: 720px) and (max-width: $iPad) {
  .homepage {
    .mainhead {
      #main-text {
        font-size: 2em;
      }
      #color-dance-text {
        font-size: 1em;
      }
    }
  }
}

/* iPad Pro Devices */
@media (min-width: 950px) and (max-width: $iPadPro) {
  .homepage {
    .mainhead {
      #main-text {
        font-size: 2em;
      }
      #color-dance-text {
        font-size: 1em;
        margin-bottom: 3rem;
      }
    }
  }
}

/* Big Screen Devices */
@media (min-width: $bigScreen) {
  .homepage {
    .mainhead {
      #main-text {
        font-size: 2em;
      }
      #color-dance-text {
        font-size: 1em;
      }
    }
  }
}
