@import "../../scss/variables.scss";

.projectPage {
  h1 {
    font-size: 3em;
    margin: 5rem;
    span {
      color: $primaryColor;
    }
  }
  @include pageBackground();
  @include flexCenter();
  justify-content: space-evenly;
  flex-direction: column;
  color: $whiteColor;
}
