@import "../../scss/variables";

.socialmedia {
  @include flexCenter();
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    li {
      list-style: none;
      margin: 0 5px;
      a {
        position: relative;
        @include flexCenter();
        width: 60px;
        height: 60px;
        border-radius: 50%;
        text-decoration: none;
        font-size: 30px;
        color: $primaryColor;
        transition: 0.5s;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: $primaryColor;
          border-radius: 50%;
          z-index: -1;
          transform: scale(0);
          transition: 0.5s;
        }
        &:hover {
          color: #fff;
          &:before {
            transform: scale(1);
          }
        }
      }
    }
  }
}

/* iPhone SE & 5 */
@media (min-width: 300px) and (max-width: $iPhone5_se) {
  .socialmedia {
    ul {
      li {
        a {
          font-size: 27.5px;
        }
      }
    }
  }
}

/* Galaxy Fold Devices */
@media (min-width: 240px) and (max-width: $galaxyFold) {
  .socialmedia {
    ul {
      li {
        a {
          font-size: 25px;
        }
      }
    }
  }
}

/* iPad Devices */
@media (min-width: 720px) and (max-width: $iPad) {
  .socialmedia {
    ul {
      li {
        margin: 0 15px;
        a {
          font-size: 40px;
        }
      }
    }
  }
}

/* iPad Pro Devices */
@media (min-width: 950px) and (max-width: $iPadPro) {
  .socialmedia {
    ul {
      margin-bottom: 1rem;
      li {
        margin: 0 25px;
        a {
          font-size: 40px;
        }
      }
    }
  }
}
