@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Titillium Web", sans-serif;
}

/* Colors */

$whiteColor: #fff;
$primaryColor: #45f3ff;
$secondaryColor: #008aff;
$tertiaryColor: #222831;

/* Animations */

$hoverEasing: cubic-bezier(0.23, 1, 0.32, 1);
$returnEasing: cubic-bezier(0.445, 0.05, 0.55, 0.95);

@keyframes buttonanimate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
@keyframes moveWords {
  0% {
    transform: translateY(0%);
  }
  15% {
    transform: translateY(0%);
  }
  40% {
    transform: translateY(-100%);
  }
  60% {
    transform: translateY(-100%);
  }
  85% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(0%);
  }
}
/* mixin */
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin pageBackground {
  min-height: 100vh;
  background: black;
}

/* mediaquery breakpoints */
$smallDevices: 370px;
$iPhone5_se: 330px;
$galaxyFold: 290px;
$surfaceDuo: 560px;
$iPad: 800px;
$iPadPro: 1100px;
$bigScreen: 1101px;
